.cartItemBox{
    
    width:700px;
    height: 200px;
    margin-top: 250px;
    margin-left: 200px;
    
}
.cartItemWrapper{
    display: flex;
    
}
.cartImageBox{
    width: 200px;
    height: 200px;

}
.cartItemDetails{
    width: 500px;
    height: 200px;
    
    text-align: left;
    
}
.cartItemName{
    font-size: 25px;
} 
.cartItemDetail{
    font-size: 20px;
} 
h3 s{
    font-weight: lighter;
    font-size: 17px;
}
.cartItemNumber{
    display: inline;
}
.buttonHolder{
    position: relative;
    top: -40px;
    left: 300px;
}
.cartItemNumber{
    margin-left: 8px;
    margin-right: 8px;
}
.decreaseButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 60px;
    background-color: rgba(44, 44, 182, 0.89);
    color: white;
}
.increaseButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 60px;
    color: white;
    background-color: rgba(44, 44, 182, 0.89);
}
.addToCartButtonHolder{
    position: relative;
    top:-40px;
    left: 270px;
    }
.cartAddToCartButton{
    width: 150px;
    background-color: rgb(7, 7, 255);
    border-radius: 5px;
    color: white;
}
    
    
