.productContainer{
    width: 80%;
    margin: auto;
    
}
.product{
    width:220px;
    margin-top: 40px;
    border-radius: 20px;
    /* border: solid 1px blue; */
}
.product:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px gray;
}
.productImage{
    height: 200px;
    width: 220px;
}
.productImage img{
    height: 100%;
    width: 100%;
    width: auto;
    border-radius: 20px;
    border-radius: 1px solid;
}
.productDetails{
    
    width: 100%;
}



.cartItemNumber{
    display: inline;
}
.productButtonHolder{
    position: relative;
    top: 0px;
    right: 0px;
}
.cartItemNumber{
    margin-left: 8px;
    margin-right: 8px;
}
.decreaseButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 60px;
    background-color: rgba(44, 44, 182, 0.89);
    color: white;
}
.increaseButton{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 60px;
    color: white;
    background-color: rgba(44, 44, 182, 0.89);
}
.addButtonHolder{
    position: relative;
    top:0px;
    right: 0px;
    
    }
.cartAddToCartButton{
    width: 150px;
    background-color: rgb(7, 7, 255);
    border-radius: 5px;
    color: white;
}